@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
	background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #ededed 1px, transparent 1px),
    linear-gradient(to bottom, #ededed 1px, transparent 1px);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-brand-50: #F6F0FF;
  --color-brand-100: #EDDFFF;
  --color-brand-200: #D9BFFF;
  --color-brand-300: #BA8FFF;
  --color-brand-400: #934FFF;
  --color-brand-500: #690bff;
  --color-brand-600: #4400B1; /* 600 - Primary */
  --color-brand-700: #37008F;
  --color-brand-800: #2E0075;
  --color-brand-900: #1D004B;
  --color-brand-950: #0F0028;
}

/* Custom CSS - refactor for later? */

.mix {
	width:  100%;
	height:  100%;
	display:  block;
	position:  relative;
}

.hover-container {
	height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.hovicon {
    margin-top: -28px;
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

/* Effect 3 */
 .hovicon.effect-3 {
/*    box-shadow: 0 0 0 4px #fff;*/
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    background: #d5d5d56b;
}
.hovicon.effect-3:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #4400b12e;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3b */
 .hovicon.effect-3.sub-b,
 .hovicon.effect-3.sub-b i {
    color: #fff;
}
.mix:hover .hovicon.effect-3.sub-b,
.mix:hover .hovicon.effect-3.sub-b i {
    color: #f06060;
}
.hovicon.effect-3.sub-b:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
}
.mix:hover .hovicon.effect-3.sub-b:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}